body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

.blood_donor_app {
  background: #c2e7f9;
  height: 100vh;
  padding: 20px;
}

.blood_donor_app h1 {
  font-size: 40px;
  width: 60%;
  text-align: center;
  padding-top: 25px;
  margin: 0 auto;
  color: #272727;
  text-transform: uppercase;
  line-height: 45px;
}

.comp_home .content {
  font-size: 23px;
  line-height: 39px;
  margin: 36px 0px;
  letter-spacing: 1px;
}

.comp_login {
  width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  position: relative;
  background: #fff;
  border-radius: 5px;
  border: solid 1px #85c5e4;
}

.comp_login .login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: center;
}

.comp_login .login_form input {
  width: 95%;
  line-height: 48px;
  padding-left: 10px;
  border: solid 1px #cecece;
  border-radius: 3px;
  margin-bottom: 10px;
}

.comp_home .login_form h3 {
  font-size: 25px;
  color: #3c3c3c;
  margin-bottom: 20px;
}

.comp_login .login_form input[type='submit'] {
  padding-left: 0px;
  background: #056b9c;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  width: 98%;
  letter-spacing: 2px;
}

.empty_creds {
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0px;
  font-size: 20px;
  color: #e41717;
  margin-bottom: 10px;
  clear: both;
  top: -60px;
}
.top_nav{
  justify-content: space-between;
}
.top_nav ,.top_nav ul{
  display: flex;
  flex-direction: row;
}